# Pip requirements file for building docs of nocaselist project on RTD.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

# Sphinx (no imports, invoked via sphinx-build script):
# Sphinx 4.0.0 breaks autodocsumm and needs to be excluded
# Sphinx <4.2.0 fails on Python 3.10 because it tries to import non-existing
#   types.Union. This also drives docutils>=0.14.
# Sphinx pins docutils to <0.18 (some versions even to <0.17) but the package
#   version resolver in the pip version used on py27 ignores package dependencies
Sphinx>=4.2.0
docutils>=0.16,<0.17
sphinx-git>=10.1.1
# GitPython 3.1.30 fixes safety issues 52322,52518
GitPython>=2.1.1; python_version == '3.6'
GitPython>=3.1.30; python_version >= '3.7'
sphinxcontrib-fulltoc>=1.2.0
sphinxcontrib-websupport>=1.1.2
Pygments>=2.7.4
sphinx-rtd-theme>=1.0.0
# Babel 2.7.0 fixes an ImportError for MutableMapping which starts failing on Python 3.10
# Babel 2.9.1 fixes safety issue 42203
Babel>=2.9.1
